.clearfix {
    /* Thuộc tính trống tràn */
    overflow: hidden;
    /* Xóa tất cả hàng trên cùng*/
    clear: both;
    /*Thiết lập chiều rộng cho toàn trang*/
}
#main {
    width: 960px;/*Thiết lập chiều rộng cho toàn trang*/
    margin: 0 auto;/*Căn chỉnh hiển thị giữa màn hình*/
}
#main nav {
    width: 100%;/*Thiết lập chiều rộng cho nax*/
}
#main nav ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#main nav ul li{
    float: left;
    margin-right: 5px;
}
#main nav ul li a{
    display: block;
    padding: 5px 15px;
    border: solid 1px #ccc;
    text-decoration: none;
    border-radius: 5px;
}
.selected,
#main nav ul li a:hover{
    background: red;
    color: #fff;
}
.iteam{
    float: left;
    margin-right: 5px;
    width: 236px;
}
.iteamfix{
    margin-right: 0;
}
.iteam img{
    border-radius: 5px;
    height: 150px;
    width: 236px;
}
#pager{
    width: 100%;
    text-align: right;
}
#pager ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#pager ul li{
    float: right;
    margin-left: 5px;
}
#pager ul li a{
    border: solid 1px #666;
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}